# Like site configs, SOSSBox server definition file are JSON files with optional line-based comments beginning with # characters.
{
  # The server itself can have an id and descriptive name, separate from each site id and name.
  # These settings, in fact the entire file, are optional and default to the values presented below:
  "id": "main",
  "name": "SOSSBox Server",
  "port": 0, # will use 80 or 443 depending on whether SSL certificates exist
  "host": "0.0.0.0" # listen on all local addresses (NICs)

  # If you want the server to serve more than static pages, i.e. support the REST API for users, projects and assets, add these below.
  # A site MUST update these fields to something secret and unique to that site, IF restration is enabled.
  # secret is used to encode the JSON Web Token (JWT) on login replies.
  #"data": "/path/to/data,
  #"registration": true,
  #"secret": "example_secret"
}